<%- include('../includes/header'); %>

  <div class="container">
    <h2>
      All Dosens
    </h2>
    <li><a class="btn btn-primary btn-sm" href="#"
      onclick="openForm('Dosens/create', 'create')">
        <span class="me-3"> Create</span></a>
    </li>
    <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>NIDN</th>
      <th>Nama Dosen</th>
      <th>Jenis Kelamin</th>
    </tr>
  </thead>
  <tbody>
    <% 
      no = 1
      Dosens.forEach(Dosens => { %>
      <tr>
        <td><%= no++ %></td>
        <td><%= Dosens.nidn %></td>
        <td><%= Dosens.nama_dosen %></td>
        <td><%= Dosens.jenis_kelamin %></td>
        <td>
          <a onclick="openForm('/Dosens/edit/<%= Dosens.nidn %>', 'create')">
            <button class="btn btn-primary">
              Edit
            </button>
          </a>
          <a href="/Dosens/delete/<%= Dosens.nidn %>">
            <button class="btn btn-danger">
              Delete
            </button>
          </a>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>
</div>
  <%- include('../includes/footer'); %>
